@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', serif;
}

html, body , #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}
#root > main, #root > header , #root > footer{
    padding: 1rem;
}

#root > main{
    flex-grow: 1;
}

#root > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
    
}
.header__logo{
    display: flex;
    align-items: center;
    margin-right: 10rem;
}        
a{
    text-decoration: none;
}
img{
    height: 5rem;
    margin-right: 1rem;
}
h1{
    color: rgb(61 237 231);
    font-family: 'Splash', cursive;
}
    
nav {
    align-items: center;
    margin-right: 1rem;
}
.dropdown-toggle {
    font-size: 1.25rem;
    color: rgb(61 237 231);

}
.nav__link {
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(61 237 231);
    font-size: 1.25rem;
}
.card-img-top {
    height: 10rem;
    width: 10rem;
}